<%= form_for [@tenant, @project], :html => { :class => "form-horizontal project" } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2>
          <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:
        </h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, autofocus: true, :class => 'form-control' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :details, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :details, :class => 'form-control' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :expected_completion_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :expected_completion_date, :class => 'form-control datepicker' %>
    </div>
  </div>
  <br />

  <%= f.hidden_field :tenant_id, value: params[:tenant_id], class: 'form-control' %>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  
<% end %>
